.calculator-body {
  width: 400px;
  height: 600px;
}
.row {
  display: flex;
  width: 100%;
}

.button {
  display: flex;
  height: 4em;
  flex: 1;
  justify-content: center;
  align-items: center;
  font-weight: lighter;
  font-size: 1.4em;
  background-color: #e0e1e6;
  color: #888;
  border-style: none;
}

.button:hover {
  background-color: #fe9241;
  color: #fff;
}

.operator {
  display: flex;
  height: 4em;
  flex: 1;
  justify-content: center;
  align-items: center;
  font-weight: lighter;
  font-size: 1.4em;
  background-color: #fe9241;
  color: #fff;
  border-style: none;
}

.clear-button {
  display: flex;
  flex: 1;
  height: 4em;
  align-items: center;
  justify-content: center;
  font-weight: lighter;
  font-size: 1.4em;
  height: 4em;
  background-color: #fe9241;
  color: #fff;
  border-style: none;
}
